<!DOCTYPE html>
<html lang="en">

<head>
   @Html.Partial("_Head")
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        @Html.Partial("_Navbar")
        <div id="content-wrapper" class="d-flex flex-column ">
            <div id="content"class="m-5">
                @RenderBody()
            </div>
            @Html.Partial("_Footer")
        </div>

    </div>
    
    @Html.Partial("_Scripts")
</body>

</html>
