@model IEnumerable<AD_BlogProject_2021.Models.EntityFramework.Homes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            <span>ImageUrl</span>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Subtitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegisterDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td width="15%">
            <img src="@item.ImageURL" width="35%" height="100%" alt="Alternate Text" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @if (item.Subtitle.Length > 22)
            {
                <p>@item.Subtitle.Substring(0,22).ToString() ..</p>
            }
            else
            {
                <p>@item.Subtitle</p>   
            }
           
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RegisterDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.HomeId }, new { @class = "btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.HomeId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.HomeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
