@model IEnumerable<AD_BlogProject_2021.Models.EntityFramework.Resumes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/ManagementPanel/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create",null,new { @class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ResumeTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeSubTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumePlace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ResumeDate)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.IsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeTitle)
        </td>
        <td>
            @if (item.ResumeSubTitle.Length > 15)
            {
                <p> @item.ResumeSubTitle.Substring(0, 15) ...</p>
            }
            else
            {
                @Html.DisplayFor(modelItem => item.ResumeSubTitle)
            }

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumePlace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ResumeDate)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ResumeId },new { @class="btn btn-success" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ResumeId }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ResumeId }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
