<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("_BlogHead")
    <script src="~/Scripts/jquery-3.6.0.js"></script>
</head>

<body>
    @Html.Partial("_BlogHeader")

    <div class="main-wrapper">
        @RenderSection("_Search", false)

        @RenderBody()

        @Html.Partial("_BlogFooter")
    </div>
    @Html.Partial("_BlogScripts")
    @RenderSection("Scripts2", false)
</body>
</html>

