@model List<AD_BlogProject_2021.Models.EntityFramework.Comments>


<style>
    .al {
    }
</style>
<ul class="comment-tree list-unstyled">
    @foreach (var yorum in Model.Where(u => u.IsReply == 0))
    {
        <li class="mb-5 ">
            <div class="comment-area-box shadow-sm px-3">
                <div class="row">

                    @*<div class="col-2">
                        <img alt="" src="~/Content/img/comment1.png" width="100%" class="img-fluid float-left mr-3 mt-2">
                        </div>*@

                    <div class="col-10">
                        <h5 class="mb-1" id="@yorum.CommentId">@yorum.CommentatorName</h5>

                        <div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
                            <a href="#" class="al" id="al">
                                <i class="icofont-reply mr-2 text-muted">

                                </i>Reply |
                            </a>
                            <span class="date-comm mx-2 text-muted">@yorum.RegisterDate.ToString("dd.MM.yyyy") </span>
                        </div>

                        <div class="comment-content mt-3">
                            <p>@yorum.Comment</p>
                        </div>
                    </div>
                </div>

            </div>
        </li>
        foreach (var cevap in Model.Where(u => u.IsReply == yorum.CommentId))
        {
            <li class="mb-5">
                <div class="comment-area-box bg-primary px-3 pb-2 ">
                    <img alt="" src="~/Content/images/blog/test1.jpg" class="img-fluid float-left mr-3 mt-2">

                    <h5 class="mb-1" id="@cevap.CommentId">@cevap.CommentatorName</h5>
                   

                    <div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">
                        <a href="#" class="al text-white" id="al">
                            <i class="icofont-reply mr-2 text-muted ">

                            </i>Reply |
                        </a>
                        <span class="date-comm mx-2">@cevap.RegisterDate.ToString("dd MM yyyy") </span>
                    </div>

                    <div class="comment-content mt-3">
                        <span>@yorum.CommentatorName - Cevap Olarak : </span>
                        <p>@cevap.Comment</p>
                    </div>
                </div>
            </li>
            foreach (var item in Model.Where(u => u.IsReply == cevap.CommentId))
            {
                <li class="mb-5">
                    <div class="comment-area-box bg-primary px-3 pb-2">
                        <img alt="" src="~/Content/images/blog/test1.jpg" class="img-fluid float-left mr-3 mt-2">

                        <h5 class="mb-1" id="@item.CommentId">@item.CommentatorName</h5>
                        

                        <div class="comment-meta mt-4 mt-lg-0 mt-md-0 float-lg-right float-md-right">

                            <span class="date-comm mr-2">@item.RegisterDate.ToString("dd MM yyyy") </span>
                        </div>

                        <div class="comment-content mt-3">
                            <span>@cevap.CommentatorName - Cevap Olarak : </span>
                            <p>@item.Comment</p>
                        </div>
                    </div>
                </li>
            }
        }
    }

</ul>
